header{background-color: pink; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black; text-align: center; padding: auto;}
body{background-color: pink; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black; text-align: center; margin: 0; font-size: 15px; padding: 1rem;}
footer{background-color: pink;}
head{display: block;}
