header{background-color: pink; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black; text-align: center; padding: auto; max-width: 100%;  font-size: 30px; margin-left: auto; margin-right: auto;}
body{background-color: greenyellow; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black; text-align: center; margin: 0; font-size: 30px; padding: 1rem;}
footer{background-color: greenyellow;}
head{display: block;}
img{max-width: 50%; max-height: fit-content; flex-direction: row;}
